* {
    font-family: 'Nunito Sans';
}

body {
    background: #74959A;
    /* fallback for old browsers */
    background: rgb(116, 149, 154);
    background: linear-gradient(90deg, rgba(116, 149, 154, 1) 0%, rgba(152, 180, 170, 1) 50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    background-color: #FFFFFF;
    margin: auto;
    width: 67%;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 25px;
}

.container-title {
    font-size: x-large;
    font-weight: bold;
}

.cart-container {
    display: flex;
}

.wrapper-title {
    font-size: large;
    font-weight: bold;
}

.mt-img {
    max-width: 400px;
}

.modal-title {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: 30px
}