* {
    font-family: 'Nunito Sans';
}

body {
    background: #74959A;
    /* fallback for old browsers */
    background: rgb(116, 149, 154);
    background: linear-gradient(90deg, rgba(116, 149, 154, 1) 0%, rgba(152, 180, 170, 1) 50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
    background-color: white;
    margin: auto;
    width: 80%;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 25px;
}

.container-title {
    font-size: x-large;
    font-weight: bold;
}

.container-fluid>p {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: #cc0000;
}

.product-list .card {
    background-color: #F1EEE9;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    box-shadow: 0px 10px 5px #b2bec3;
}

.card .content {
    cursor: pointer;
}

.card .title {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .product-img {
    margin-top: 1em;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.card .price {
    text-align: center;
    margin: 1em 2em;
    font-size: 18px;
    color: #eb4d4b;
}

.btn {
    margin-bottom: 1em;
}

.btn:hover {
    box-shadow: 0px 5px 5px #b2bec3;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

.card .product-img {
    transition: 0.5s ease;
}

.card:hover .product-img {
    transform: scale(1.1);
    transition: 1s ease;
}

.card .details {
    position: relative;
    top: 50px;
    transition: 2s ease;
    visibility: hidden;
    opacity: 0;
}

.card:hover .details {
    opacity: 1;
    visibility: visible;
    top: 0px;
    transition: 2s ease;
}

.text,
.title {
    opacity: 1;
    transition: 0.5s ease;
}

.card:hover .text,
.card:hover .title {
    opacity: 0.3;
    transition: 1 ease;
}

.add-product {
    width: 75%;
    padding: 8% 0 0;
    margin: auto;
}

.wrapper-title {
    padding-top: 14px;
    font-size: large;
    font-weight: bold;
}

.mt-img {
    max-width: 400px;
}

.btn-primary {
    background-color: #74959A !important;
}

/* sm */
@media (max-width: 700px) {
    .mt-img {
        max-width: 300px;
    }
}

.form {
    position: relative;
    z-index: 1;
    max-width: 720px;
    padding: 45px;
    text-align: center;
    border-radius: 20px;
}

.form .form-title {
    padding-bottom: 36px;
    font-size: 2em;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.form textarea {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #ced4da;
    ;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.form select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px 10px;
    box-sizing: border-box;
    font-size: 15px;
}

.form .btn {
    border-radius: 10px;
    text-transform: uppercase;
    outline: 0;
    background: #74959A;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .btn:hover,
.form .btn:active,
.form .btn:focus {
    background: #395B64;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 15px;
}

.form .message a {
    color: #74959A;
    text-decoration: none;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.modal-title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: 30px
}

.modal-desc {
    font-size: medium;
    text-align: center;
    width: 67%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}